.img-prof{
    height: 100%; 
    width: 300px; 
    display: block; 
    margin: auto;
}

.settings-icons{
    position: absolute;
    right: 0.4em;
  }
  .settings-icons:hover{
    color: rgb(235, 171, 70);
  }
  .settings-icons:after {
  content: '\2807';
  font-size: 25px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    right: 0.4em;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    margin-top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  div.input-group.dropdown-item:hover {
    cursor: pointer;
    img{
        filter: invert(100%);
    }
    a{
        color: white;
    }
  }