<div class="row card border-primary m-5">
  <div class="card-header">
    <h3 style="text-align: center;">My Question</h3>
  </div>
  <div *ngIf="!isLoading;else loading">
    <div *ngIf="QuestionWithAnswer.length!=0; else empty">
      <div *ngFor="let item of QuestionWithAnswer">
        <div class="media position-relative blocklistansver">
          <a routerLink="/userprofile/{{item.user.id}}" title="{{item.user.userName}}">
            <img class="imgmargin avatar avatar-64" src="data:image/jpeg;base64,{{item.user.files[0].value}}" /></a>
          <div class="media-body">
            <a class="text-break text-link text-capitalize"
              routerLink="/home/question/showquestion/{{item.id}}">{{item.head}}</a>
            <a type="button" class="settings-icons" data-toggle="dropdown" id="top-cat"> </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="input-group dropdown-item" (click)="deleteQuestion(item.id)">
                <img src="https://img.icons8.com/metro/26/000000/trash.png" />
                <a style="text-align: center;margin: auto; font-size: 15px;"> Delete</a>
              </div>
            </div>
            <div class="input-group">
              <a class="text-muted" style="margin-bottom: 0;"
                routerLink="/category/{{item.category.id}}">{{item.category.name}}</a>
              <p class="text-muted" style="margin-bottom: 0;">, {{item.date}} ago - {{item.answers.length}} answer - {{item.ratingCount}} likes</p>
            </div>
          </div>
        </div>
        <hr class="solid">
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-wait-loading> </app-wait-loading>
</ng-template>

<ng-template #empty>
  <strong> You don't have any questions right now. You can add them.</strong>
</ng-template>