<div class="m-5 row justify-content-center">
    <div class="col-8 ">
        <div class="card border-primary">
            <div class="card-header">
                <h3 style="text-align: center;">{{categoryOne? categoryOne.name : "All Questions"}}</h3>
            </div>
            <div *ngIf="!isLoading;else loading">
                <div *ngFor="let item of questionByCategory">
                    <div class="row" style="width: 100%;">
                        <div class="col">
                            <div class="media position-relative blocklistansver">
                                <a routerLink="/userprofile/{{item.user.id}}" title="{{item.user.userName}}">
                                    <img class="imgmargin avatar avatar-64"
                                        src="data:image/jpeg;base64,{{item.user.files[0].value}}" />
                                </a>
                                <div class="media-body">
                                    <a class="text-break text-link text-capitalize"
                                        routerLink="/home/question/showquestion/{{item.id}}">{{item.head}}</a>
                                    <div class="input-group">
                                        <a class="text-muted" style="margin-bottom: 0;"
                                        routerLink="/category/{{item.category.id}}">{{item.category.name}}</a>
                                        <p class="text-muted" style="margin-bottom: 0;">, {{item.date}} ago -
                                            {{item.answers.length}} answer</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-m-1 align-self-center">
                            <img src="https://img.icons8.com/emoji/48/000000/star-emoji.png" style="width: 40px;"/>
                            <p style="text-align: center;">{{item.ratingCount}}</p>
                        </div>
                    </div>
                    <hr class="solid">

                </div>
            </div>
        </div>
    </div>


    <ng-template #loading>
        <app-wait-loading> </app-wait-loading>
    </ng-template>