<div class="card  border-primary m-5" *ngIf="!isLoading;else loading">
  <div class="card-header">
    <div>
      <a type="button" class="settings-icons" data-toggle="dropdown" id="top-cat"></a>
      <div class="dropdown-menu dropdown-menu-right">
          <div class="input-group dropdown-item"
              data-target="#EditUser" data-toggle="modal">
              <img width="26px"
                  src="https://img.icons8.com/ios-glyphs/30/000000/edit-user-male.png" />
              <a style="text-align: center;margin: auto; font-size: 15px;"> Edit</a>
          </div>
      </div>
  </div>
    <h3 style="text-align: center;">Profile</h3>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle text-muted ">Username</h6>
    <h5 class="card-title text-capitalize">{{userDetails?.userName}}</h5>
    <h6 class="card-subtitle text-muted">Name</h6>
    <h5 class="card-title text-capitalize">{{userDetails?.name}}</h5>
    <h6 class="card-subtitle text-muted">Email</h6>
    <h5 class="card-title ">{{userDetails?.email}}</h5>
  </div>
  <img class="img-prof img-fluid" src="data:image/jpeg;base64,{{userDetails.value}}" alt="Card image">
  <div class="card-body">
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <input class="form-control-file" type="file" name="profile" (change)="onFileSelect($event)" />
      <button class="btn btn-outline-secondary">Upload</button>
    </form>
  </div>
</div>


<ng-template #loading>
  <app-wait-loading> </app-wait-loading>
</ng-template>


<div role="dialog" id="EditUser" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit User</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form [formGroup]="userModel" (submit)="saveUserChanges()">
              <div class="modal-body">
                <h6 class="card-subtitle text-muted">User Name</h6>
                <input type="text" class="form-control" formControlName="userName" value="{{userDetails?.userName}}"/>
                <div class="text-danger"
                    *ngIf="userModel.get('userName').touched && userModel.get('userName').errors?.required">
                    This
                    field is required.</div>
                <div class="text-danger"
                    *ngIf="userModel.get('userName').touched && userModel.get('userName').errors?.maxlength">
                    The
                    maximum number of characters for input has been exceeded.</div>
                <br>
                  <h6 class="card-subtitle text-muted">Name</h6>
                  <input type="text" class="form-control" formControlName="name" value="{{userDetails?.name}}"/>
                  <div class="text-danger"
                      *ngIf="userModel.get('name').touched && userModel.get('name').errors?.required">
                      This field is required.</div>
                  <div class="text-danger"
                      *ngIf="userModel.get('name').touched && userModel.get('name').errors?.maxlength">
                      The maximum number of characters for input has been exceeded.</div>
                  <br>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-dark" [disabled]="!userModel.valid"
                      (click)="saveUserChanges()" data-dismiss="modal">Save changes</button>
                  <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
          </form>
      </div>
  </div>
</div>